<div ng-controller="dataController"
     class="container-fluid graphMainContainer" style="border:1px solid #ccc">

    <div class="row">
        <h3 class="col-12"> Graphs </h3>
    </div>

    <div class="row paddedSide" ng-controller="graphsController">

        <div class="spellSelector col-lg-2 col-md-3 col-sm-12 sticky-top">

            <div class="spellSelector">
                <h5>Select a spell: </h5>
                <div class="spellSubSelector">
                    <img  ng-repeat="spell in data['spells']"
                          ng-if="spell.hasOwnProperty('icon')"
                          src="{{data['iconLocation']}}{{spell['icon']}}"
                          class="spellIcon"
                          ng-click="computeGraph(spell)"
                          ng-class="{'selectedSpell': spell.name === spell_selected.name}">
                </div>

                <hr>

                <div class="talentSelector">
                    <h5>Select your talents</h5>

                    <div class="talent" ng-repeat="(talentName, talent) in talents">
                        <img  ng-if="talent.hasOwnProperty('icon') && talentName !== 'Spiritual Guidance'"
                              src="{{data['iconLocation']}}{{talent['icon']}}"
                              ng-click="increaseTalent(1, talentName)"
                              ng-right-click="increaseTalent(-1, talentName)"
                              ng-class="{'greyImg': talentName === 'Spiritual Guidance'}"
                              class="spellIcon">
                        <img ng-if="talentName === 'Spiritual Guidance'"
                             src="{{data['iconLocation']}}{{talent['icon']}}"
                             ng-click=""
                             ng-right-click=""
                             class="spellIcon greyImg">
                        <i class="fa fa-times notAvailable" ng-if="talentName === 'Spiritual Guidance'">
                        </i>
                        <div class="talentCounter"> {{current_talents[talentName]}} </div>
                    </div>

                    <div ng-if="current_talents['Spiritual Guidance'] > 10">
                        <label>Spirit</label>
                        <input type="number" ng-model="playerStat.spirit">
                    </div>
                </div>

                <hr>

                <div>
                    <h5> Graph options</h5>
                    <label class="graphParam">Min</label>
                    <input ng-model="graphParam.min" type="number">
                    <br>
                    <label class="graphParam">Max</label>
                    <input ng-model="graphParam.max" type="number">
                    <br>
                    <label class="graphParam">Step</label>
                    <input ng-model="graphParam.step" type="number">
                    <br>
                    <button ng-click="computeGraph(spell_selected)">Recompute</button>
                </div>
            </div>

            <div ng-if="spell_selected === 0">
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Cost</th>
                        <th>Heal produced</th>
                        <th>HPS</th>
                        <th>HPM</th>
                    </tr>

                    <tbody>
                        <tr ng-repeat="rank in spell_selected.ranks">
                            <td>{{rank.rank}}</td>
                            <td>{{rank.cost}}</td>
                            <td>{{rank.flat}}</td>
                            <td>{{computeHPS(0, spell_selected, $index)}}</td>
                            <td>{{rank.HPM}}</td>
                        </tr>
                    </tbody>
                </table>
                {{spell_selected}}
            </div>
        </div>

        <div class="spellGraphZone col-lg-10 col-md-9 col-sm-12">
            <div class="container-fluid" ng-if="spell_selected">
                <div class="row">
                    <h4> {{spell_selected.name}}</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 graphContainer"
                         ng-repeat="(serieName, serieVal) in graphs.data">

                        <h5 class="serieName">{{serieName}}</h5>
                        <span class="serielabel">({{computeDetails[serieName]}})</span>

                        <div class="container-fluid">
                            <div class="row">
                                <div class="graph col-lg-8">

                                    <canvas id="line"
                                            class="chart chart-line"
                                            chart-data="serieVal"
                                            chart-labels="graphs.labels"
                                            chart-series="graphs.series"
                                            chart-options="options"
                                            chart-colors="graphParam.offColors"
                                            chart-click="onClick">
                                    </canvas>
                                </div>

                                <div class="col-lg-4">
                                    <table class="table table-hover table-light table-striped removeMargin">
                                        <thead class="blue-bg">
                                            <tr>
                                                <th>Rank</th>
                                                <th>Cost</th>
                                                <th>At min</th>
                                                <th>At max</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="rank in spell_selected.ranks">
                                                <td>{{rank.rank}}</td>
                                                <td>{{rank.cost}}</td>
                                                <td>{{serieVal[rank.rank-1][0]}}</td>
                                                <td>{{serieVal[rank.rank-1][serieVal[rank.rank-1].length-1]}}</td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




</div>